.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 480px;
  &--header {
    line-height: 42px;
    letter-spacing: 00.03em;
  }
  &--box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-right: -30px;
  }
  &--img {
    margin-right: 30px;
    position: relative;
  }
  &--subtitle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    font-weight: bold;
    color: $color-accent;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 4px;
  }
}
