.buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 132px;
  width: 100%;
  padding-bottom: 50px;
}

.button {
  margin-right: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  $color-background: #f5f4fa;
  background-color: $color-background;
  border: 0px;
  font-weight: 500px;
  line-height: 1.62;

  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:focus,
  &:hover {
    background-color: $color-highlight;
    color: $color-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
