.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 371px;
  width: 300px;
  &--icons {
    margin-right: 10px;
    fill: currentColor;
    &:hover {
      fill: currentColor;
    }
  }
  &--item {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: $color-secondary;
    text-decoration: none;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;
    &:hover {
      color: $color-highlight;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .header-contact{
    display: none;
  }
}