.footer-links {
  //   margin-right: 70px;
  &--address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    color: $color-accent;
  }
  &--phone-nr,
  &--email {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 00.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 767px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--address,
    &--email,
    &--phone-nr {
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 144px 60px 0px;

    &--address,
    &--email,
    &--phone-nr {
      text-align: center;
    }
  }
}
