.header-studio {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &--title {
    color: $color-accent;
    font-size: 26px;
    line-height: 1.36;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
  }
  &--button {
    width: 200px;
    height: 50px;
    background-color: $color-highlight;
    color: $color-accent;
    border-radius: 4px;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition-property: background-color box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}

@media screen and (max-width: 767px) {
  .header-studio {
    height: 400px;
    max-width: 767px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    &--title {
      line-height: 1.62;
      font-size: 26px;
      font-weight: 900;
      margin-top: -30px;
    }
    &--button {
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-studio{
    max-width: 1199px;
    height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile-bg.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .header-studio {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile-bg@2x.jpg);
  }
}
