.logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: $color-primary;
  &--highlight {
    color: $color-highlight;
  }
  &--footer {
    color: $color-accent;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo{
    margin-left: 15px;
  }
}