@media screen and (max-width: 767px) {
    .menu-button{
        border: none;
        padding: 0;
        background-color: $color-accent;
        justify-self: end;
        margin-right: 15px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .menu-button{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .menu-button{
        display: none;
    }
}