.projects-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-right: -30px;
}

.project {
  position: relative;
  width: 370px;
  height: 404px;
  background: $color-accent;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  margin-right: 30px;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &--mask {
    width: 368px;
    height: 294px;
    overflow: hidden;
    position: relative;
  }
  &--mask2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 18px;
    line-height: 156%;
    font-weight: 400;
    letter-spacing: 3%;
    color: $color-accent;
    padding: 49px 45px 49px 24px;
  }
  &:hover,
  &:focus {
    .project--mask2 {
      transform: translate(0, 0);
    }
  }
  &--img {
    width: 370px;
    height: 294px;
  }
  &--name {
    margin: 20px 24px 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $color-primary;
  }
  &--category {
    margin: 4px 24px 20px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 00.03em;
    color: $color-secondary;
  }
}
