.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  padding-bottom: 94px;
  &--box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-right: -30px;
    margin-top: 50px;
  }
  &-member {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $color-accent;
  }
  &-member--img {
    width: 270px;
    height: 260px;
  }
  &-member--name {
    color: $color-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 00.03em;
    text-align: center;
  }
  &-member--role {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 00.03em;
    color: $color-secondary;
    text-align: center;
  }
}
